<form name="userForm" novalidate="" class="ng-dirty ng-valid-parse ng-valid ng-valid-required"> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
  <!-- NAME -->
  <div class="form-group">
    <label>Username</label>
    <input type="text" placeholder="Username" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="username" required="">
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label>Password</label>
    <input type="password" placeholder="Password" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="password" required="">
  </div>
  <!-- SUBMIT BUTTON -->
  <button ng-click="ok()" type="submit" class="btn btn-primary">
    <span>Submit</span>
  </button>
  <!--CANCEL-->
  <button ng-click="cancel()" type="submit" class="btn btn-danger">
    <span>Cancel</span>
  </button>
</form>
